
body{
  background-color: white;
}
main p{
  text-indent: 40px;
  margin: 8px 0px;
}
main{
  background-color:#D9D5D2;
  color: #0B090D;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  /* margin-top: : auto; */
  margin: auto;
  max-width: 750px;
  padding: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .4);
}
h1, h2{
  background: linear-gradient(100deg, rgba(241, 240, 242, 0.4) 10%, rgba(241, 240, 242, 0) 50%);
  padding-left: 10px;
  border-radius: 3px;
}
/* nav{
  margin: auto;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  background-color: #f1f0f2;
  width: 100%;
} */
footer{

  font-size: 10px;
  margin:auto;
  max-width: 750px;
  padding-top: 5px;
}
.PNG{
width: 128px;
height: 128px;
}
.edc_tab video{
  border-radius: 3px;
}

a{
  text-decoration: none;
  color: #0B090D;

}
header a{
  color: #f1f0f2;
  display: block;
  padding: 0 15px;
  transition: .4s;
}
header a:hover{
  color: #D9D5D2;
}

a:hover{
  color: #3f3f40;
}
header{
  /* background-color: rgba(	8,140,55, 0.8); */
  background: linear-gradient(-60deg, #088c37 , #0ca694 80% );
  margin:auto;
  max-width: 770px;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .4);
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.me{
  min-width: 280px;
}
nav ul{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
}
.switcher{
  position: absolute;
  visibility: hidden;
  left: -9999px;
}
label{
  font-size: 30px;
  cursor: pointer;
  display: none;
  color: #f1f0f2;
}

header p{
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
  color: #f1f0f2;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 2;
  font-size: 20px;
}
header table{
  width: 100%;
  margin: auto;
  text-align: center;
  table-layout: fixed;
}
.nav_btn:hover{
  background-color: #D9D5D2;
  border-radius: 3px;
}
#contact  input:not([type="submit"]),
#contact textarea{
  border: none;
  border-bottom: 1px solid #3f3f40;
  background-color: #f1f0f2;
  margin-bottom: 10px;
  font-family: inherit;
  outline-color: #f1f0f2;
  border-radius: 3px;
}
.btn_sm{
  border: none;
  border-bottom: 1px solid #3f3f40;
  border-right: 1px solid #3f3f40;
  background-color: #f1f0f2;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: inherit;
  border-radius: 3px;
  box-shadow: 2px 2px 4px #3f3f40;
  display: inline-block;
  padding: 1px 6px;
}
.btn_sm:hover{
  background-color: #f1f8f2;
}
.btn_sm:active{
  background-color: #f1f0f2;
  box-shadow: none;
}
#contact textarea{
  width: 320px;
  height: 180px;
}
.edc_tab tr th:nth-child(1){
width: 25%;
}
.edc_tab tr th:nth-child(3){
width: 15%;
}
.edc_tab td{
  vertical-align: text-top;
}
.edc_tab caption{
  text-align: left;
}
.edc_tab th{
  vertical-align: text-top;
}
.edc_tab tr td:nth-child(3){
  text-align: center;
}
h3{
  background-color: #f1f0f2;
  border-radius: 3px;
  padding-left: 10px;
}
.siemesn_tab{
  background-image: url(pngwing_com.png);
  background-size: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.ra_tab{
  background-image: url(RA.png);
  background-size: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.abb_tab{
  background-image: url(abb.png);
  background-size: 15%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.edc_grid{
  background-color: rgba(217, 213, 210, 0.80);
  display: grid;
  grid-template-columns: 2.3fr 6.2fr 1.5fr;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-left: 3px;
  padding-right: 3px;
  grid-column-gap: 5px;
}
.item_4{
  text-align: center;
  font-weight: bold;
}
.edc_grid p{
  margin: 0;
}
.item_3{
  text-align: center;
}

.edc_tab{
  background-color: rgba(217, 213, 210, 0.80);
  padding: 3px;
}
.section_DIA{
  background-image: url(AutomationEngineer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 3px;
}
.section_HaSE{
  background-image: url(UrFULogo_Full_Russian.png), url(AutomationEngineer.jpg);
  background-size: 40% auto, cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 3px;
}
img{
  transition: all 0.25s ease;
}
.flex_DCS{
  display: flex;
  grid-gap: 5px;
  justify-content: space-around;
}

.flex_DCS_item{
  flex-basis: 350px;
}
.flex_DCS_item img{
  width: 100%;
  border-radius: 3px;
}
.flex_DCS_item:active{
  position: fixed;
  bottom: 10%;
  left: 25%;
  width: 50%;
}

.flex_DCS_item:active img:active{
  transform: scale(1.1,1.1);
  border-radius: 0px;
  box-shadow: 2px 5px 10px #3f3f40;
  cursor: zoom-out;
}
.flex_DCS_item:hover{
  cursor: zoom-in;
}
/*
.DW img:active{
  transform: scale(2,2);
  border-radius: 0px;
  box-shadow: 2px 5px 10px #3f3f40;
}
.MP img:active{
  transform: scale(2,2) translateX(-50%);
  border-radius: 0px;
  box-shadow: 2px 5px 10px #3f3f40;
} */
.section_DCS{
  background-image: url(AutomationEngineer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 3px;
}
@media screen and (min-width: 820px) and (min-height: 1750px) {

  .edc_grid{
    grid-template-columns: none;
  }
  .edc_caption{
    display: none;
  }
  .item_1{
    text-align: center;
    font-weight: bold;
  }
  .item_3{
    padding-top: 10px;
  }
  main{
    max-width: 95%;
    font-size: 1vw;
  }
  .btn_sm{
    font-size: 2vw;
  }
  header{
    max-width: 97%;
  }
  nav{
    font-size: 2vw;
  }
  footer{
    font-size: 0.5vw;
    max-width: 95%;
    margin: auto;
  }

}

@media screen and (min-width: 820px) and (min-height: 1750px) {

  .edc_grid{
    grid-template-columns: none;
  }
  .edc_caption{
    display: none;
  }
  .item_1{
    text-align: center;
    font-weight: bold;
  }
  .item_3{
    padding-top: 10px;
  }
  main{
    max-width: 95%;
    font-size: 1vw;
  }
  .btn_sm{
    font-size: 2vw;
  }
  header{
    max-width: 97%;
  }
  nav{
    font-size: 2vw;
  }
  footer{
    font-size: 0.5vw;
    max-width: 95%;
    margin: auto;
  }

}
@media screen and (min-width: 410px) and (min-height: 890px) {

  .edc_grid{
    grid-template-columns: none;
  }
  .edc_caption{
    display: none;
  }
  .item_1{
    text-align: center;
    font-weight: bold;
  }
  .item_3{
    padding-top: 10px;
  }
  main{
    max-width: 95%;
    font-size: 2vw;
  }
  .btn_sm{
    font-size: 2vw;
  }
  header{
    max-width: 97%;
  }
  nav{
    font-size: 2vw;
  }
  footer{
    font-size: 0.5vw;
    max-width: 95%;
    margin: auto;
  }

}
@media screen and (max-width: 700px), (min-width: 410px) and (min-height: 890px){
  .open,
  .close{
    display: block;
  }
  .close{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  .switcher:checked ~ nav{
    right: 0;
  }
  .open{
    margin-right: 10px;
  }
  nav{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #088c37 , #0ca694 80% );
    right: -100%;
    top: 0;
    text-align:center;
    padding: 100px 0;
    transition: 0.7s;
    }
    nav ul{
      flex-direction: column;
    }
    header a{
      padding: 20px;
    }
    header a:hover{
      background: linear-gradient(100deg, rgba(241, 240, 242, 0.1) 10%, rgba(241, 240, 242, 0) 50%);
    }
    }

}
