
body{
  background-color: ##f1f0f2;
}
main{
  background-color:#D9D5D2;
  color: #0B090D;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  margin-top: : auto;
  margin: auto;
  max-width: 750px;
  padding: 10px;
}
.copyright{
  font-size: 10px;
  margin:auto;
  max-width: 750px;
}
.PNG{
width: 128px;
height: 128px;
}
a{
  text-decoration: none;
  color: #0B090D;
}
#header{
  background-color: #088c37;
  margin:auto;
  max-width: 750px;
  padding: 10px;
}

#header p{
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10px;
  color: #f1f0f2;
  font-weight: bold;
  letter-spacing: 1px;
}
